<div class="modal" tabindex="-1" [ngStyle]="{ display: 'block' }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error when trying to delete</h5>
        <button
          type="button"
          class="material-symbols-outlined close-btn"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        >
          close
        </button>
      </div>
      <div class="modal-body">
        <p>
          An error has occurred when trying to delete the element. This could
          happen when that element is associated with another, in which case
          you need to first disassociate them and only then delete it.
        </p>
      </div>
    </div>
  </div>
</div>
